<div id="centered" class="border">
  <div id="two-col">
    <div id="right">
        <div class="box1">
            <ul class="catlist">
                <li><a href="#history" class="internalScroll">History</a></li>
                <li><a href="#plants" class="internalScroll">Plants</a></li>
                <li><a href="#people" class="internalScroll">People</a></li>
                <li><a href="#places" class="internalScroll">Places</a></li>
            </ul>
        </div>
        <div class="box1"><div><img src="<%= image_url('DSC_2818small.jpg') %>"  alt="taking the weeds from the young plants"></div></div>
        <div class="box1 mobile-hide"><div><img src="<%= image_url('DSC_2824small.jpg') %>"  alt="firming the dirt around the plant"></div></div>
    </div>
    <div id="left">
            <div id="blog">
                <div class="post">
                    <a href="#history" id="history" class="scrollTop"><h2>History</h2></a>
                    <p>Redbreast Plants was first known as Robin Hill Trees.
                        It was started by Barney Roberts as a hobby away from dairy farming, in the mid 1970s.
                        Barney's sons Bruce and Max continued managing the Nursery after Barney retired.
                        During the 1990s the Nursery was renamed to Redbreast Nurseries and opened two outlets
                        in Margate (near Hobart) and Legana (near Launceston).
                    </p>
                    <p>In the late 1990s the Legana outlet was closed due to tightening markets.</p>
                    <p>In 2004 Redbreast Nurseries was renamed to Redbreast Plants</p>
                </div>

                <div class="post">
                    <a href="#plants" id="plants" class="scrollTop"><h2>Plants</h2></a>
                    <p>Redbreast Plants currently has over 1000 plants in its database and previously cultivated
    the large majority of these. All of the plants are Australian Natives.
                    </p>
                </div>

                <div class="post">
                    <a href="#people" id="people" class="scrollTop"><h2>People</h2></a>
                    <p>Over the years Redbreast Plants has employed many plant enthusiasts. The Nurseries are kept running by
    a variety of talented and motivated individuals who love working with plants and increasing their knowledge about them.
                    </p>
                </div>

                <div class="post">
                    <a href="#places" id="places" class="scrollTop"><h2>Places</h2></a>
                    <h4>Robin Hill - Flowerdale</h4>
                    <p>
                            Robin Hill was acquired by Barney Roberts in 1947.
                        It was a property close to his family home Currajong, also in Flowerdale.
                    </p>
                    <h4>Margate</h4>
                    <p>
                            Margate was acquired by Bruce and Max Roberts in the early 1990s
                        as an outlet for Redbreast Plants, to service the Hobart area.
                    </p>
                </div>

            </div>
    </div>
</div><!-- Main Div -->
