<% content_for :title, 'Native Australian and Tasmanian Plant Nursery Near Hobart' %>
<div id="centered" class="border">
  <div id="one-col">
    <div id="left">
      <div class="column">
        <h1>Native Australian and Tasmanian Plant Nursery Near Hobart</h1>
        <div class="tubestockbg" alt="Native Australian Nursery near Hobart at Redbreast Plants Tasmania" style="background-image: url(<%= image_url('hobart.png') %>)"></div><br><br>
        <p>You can buy or order some of these beautiful Tasmanian native plants are available for purchase within 30 minutes drive from Hobart at 1709 Channel Highway Margate or 242 Robin Hill Road, Flowerdale in the Northern Tasmania.</p><br><br>
        <p>The Margate nursery has been run by several passionate native plant lovers over the 16 years it has been running.</p>
        <a href="/maps">See instructions on how to get there</a>
      </div>
    </div>
</div>
