<div id="centered">
        <div id="header">
    <a href="/"><img src="<%= image_url('logo.gif') %>" alt="" class="floatleft"></a>
    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                    <li><a href="about-us">About us</a></li>
                    <li class="active"><a href="maps">Maps</a></li>
                    <li><a href="plant-list">Plant List</a></li>
                    <li><a href="contact">Contact us</a></li>
    </ul>
  </div>
  <div id="two-col" class="border">
    <div id="right">
        <div class="box1">
            <h2 style="margin: 0 0 0 15px;">Outlets</h2>
            <ul class="catlist">
                <li><a href="#flowerdale" class="internalScroll">Flowerdale</a></li>
                <li><a href="#margate" class="internalScroll">Margate</a></li>
            </ul>
        </div>
    </div>
    <div id="left">
        <div id="blog">
            <div class="post">
                <a href="#flowerdale"><h2 id="flowerdale" class="scrollTop">Flowerdale</h2></a>
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com.au/maps?q=Redbreast+Plants,+242+Robin+Hill+Road,+Flowerdale+TAS&amp;fb=1&amp;gl=au&amp;hq=Redbreast+Plants,&amp;hnear=242+Robin+Hill+Rd,+Flowerdale+TAS+7325&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=12648765190348281937&amp;ved=0CDsQpQY&amp;ei=BNAFTdXGHozIugOXvM2RBg&amp;t=h&amp;ll=-40.963748,145.628982&amp;spn=0.005622,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.com.au/maps?q=Redbreast+Plants,+242+Robin+Hill+Road,+Flowerdale+TAS&amp;fb=1&amp;gl=au&amp;hq=Redbreast+Plants,&amp;hnear=242+Robin+Hill+Rd,+Flowerdale+TAS+7325&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=12648765190348281937&amp;ved=0CDsQpQY&amp;ei=BNAFTdXGHozIugOXvM2RBg&amp;t=h&amp;ll=-40.966248,145.628982&amp;spn=0.005622,0.00912&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                <ol>
                <li>Turn off to Flowerdale from Bass Highway ten minutes west of Wynyard.
                <li>Follow the Flowerdale road (aka Preolenna Road) until you reach a turn off for Robin Hill Road (approx. 5 mins along the road). Just after the first bridge.
                <li>Keep following Robin Hill Road until you reach the end (avoid Gates Road - on right)
                </ol><br>
                WARNING: Robin Hill Road turns into a gravel road 500m after starting.<br>
                After reaching the end of Robin Hill Road you will see a Redbreast Nurseries sign. Continue 100m past this sign and the nursery car park will be on your left.<br>
            </div>
            <div class="post">
                <a href="#margate"><h2 id="margate" class="scrollTop">Margate</h2></a>
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3736.661736732503!2d147.26092527116404!3d-43.02562814362037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd0151905cc474fd3!2sRedbreast+Plants!5e1!3m2!1sen!2sau!4v1428138272494" width="600" height="450" frameborder="0" style="border:0"></iframe>
                <ol>
                <li>Head south from Hobart using the Southern Outlet</li>
                <li>Follow signs to Blackmans Bay/Margate</li>
                <li>At the roundabout, take the 2nd exit toward (Blackmans Bay)/Margate/Kettering</li>
                <li>Continue on the Channel Highway until you reach Margate</li>
                <li>You should see Margate Tavern on the right and Redbreast Plants is just a bit further up the road on the left</li>
                </ol>
            </div>
        </div>
    </div>
</div>
