<div id="centered">
        <div id="header">
    <a href="/"><img src="assets/logo.gif" alt="" class="floatleft"></a>
    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                    <li><a href="about-us">About us</a></li>
                    <li><a href="maps">Maps</a></li>
                    <li class="active"><a href="plant-list">Plant List</a></li>
                    <li><a href="contact">Contact us</a></li>
    </ul>
  </div>
        <div id="two-col" class="border" style="width:890px;">
<h2 class="green">The Plant List</h2>
A comprehensive list of plants that Redbreast Plants is able to cultivate<br>
<a href="?whole=yes">Click Here</a> for the entire plant list.<br>
<br>
</div>

<div style="width:890px;">

    <div>
        <form name="searchform" method="GET" action="plant-list">
            <div>
            <span style="display:inline-block;width:120px;color:#006699">quick pre-made lists</span>

            <select name="listnum" id="quicklists" style="width:247px;">
                <option>All Plants</option>
                <option value="1">Tasmanian Species</option>
                <option value="2">Screen Plants</option>
                <option value="3">Windbreaks</option>
                <option value="4">Groundcovers</option>
                <option value="5">Coastal Plants</option>
                <option value="6">Drought Tolerant</option>
                <option value="7">Hardy Plants</option>
                <option value="8">Timber Trees</option>
                <option value="9">Dappled Shade</option>
                <option value="10">Wet Site</option>
                <option value="11">Avenue Features</option>
                <option value="12">Small Feature Plants</option>
                <option value="13">Container Plants</option>
                <option value="14">Cut Flowers and Foliage</option>
                <option value="15">Border Plants</option>
                <option value="16">Grasses Sedges and Clumping Plants</option>
                <option value="17">Rockery Plants</option>
                <option value="18">Compact Plants</option>
                <option value="19">Contrast Plants</option>
                <option value="25">Climbing Plants</option>
                <option value="20">Bush Food Plants</option>
                <option value="21">Butterfly Attracting</option>
                <option value="22">Bird Attracting</option>
                <option value="23">Waste Water List</option>
                <option value="24">Roadside Planting</option>
            </select>
            </div>

            <div>
                    <span style="display:inline-block;width:120px;color:#006699">quick plant search</span>
                    <input id="search" autocomplete="off" style="padding:0;margin:0;width:243px;" name="search" type="text" size="36" value="search for plant..." onkeyup="lookup(this.value);" onblur="fill();" />
            </div>

            <div>
                <span style="display:inline-block;width:120px">&nbsp;</span><input type="submit" value="Search">
            </div>

            <div class="suggestionsBox" id="suggestions" style="display: none;">
                    <div class="suggestionList" id="autoSuggestionsList">
                            &nbsp;
                    </div>
            </div>
        </form>
    </div>
    <div id="imgholder">
    </div>

<br>
<a href="?srtplnt=0">&lt;&lt;</a> &lt;  PAGE 1 of 37 <a href="?srtplnt=30">&gt;</a> <a href="?srtplnt=1080">&gt;&gt;</a><br><br>
<table id="myTable" class="tablesorter" style="width:880px !important; margin: 0 0 50px 0;">
<thead>
  <tr>
  <th style="width:110px" value="Botanical_Name" >Botanical Name</th>
  <th style="width:100px" value="Common_Name" >Common Name</th>
  <th value="Comments" >Comments</th>
  <th style="width:30px" value="Average_Height" >Avg. Height</th>
  <th style="width:30px" value="Average_Width" >Avg. Width</th>
  <th value="Flower_Colour_and_Season" >Flower &amp; Season</th>
  <th value="Soil_Types" >Soil</th>

  </tr>
</thead>
<tbody>
  <tr>
  <td>Acacia amblygona prostrate&nbsp;</td>
  <td>   &nbsp;</td>
  <td>slow growth when young tip prune to promote dense growth&nbsp;</td>
  <td>0.2&nbsp;</td>
  <td>1.5&nbsp;</td>
  <td>bright yellow balls in early spring&nbsp;</td>
  <td>prefers sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia boormanii&nbsp;</td>
  <td>Snowy River Wattle&nbsp;</td>
  <td>fast growing dense screen suckers new shoots from roots   &nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>3&nbsp;</td>
  <td>bright yellow balls in winter  and  spring&nbsp;</td>
  <td>light clay to sandy soils. tolerates wet sites&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia calamifolia&nbsp;</td>
  <td>Wallowa Wattle&nbsp;</td>
  <td>attractive fine leaves fast growth&nbsp;</td>
  <td>3&nbsp;</td>
  <td>3&nbsp;</td>
  <td>golden yellow ball flowers winter  and  spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia cardiophylla&nbsp;</td>
  <td>Wyalong Wattle&nbsp;</td>
  <td>lovely soft foliage - tip prune maybe used for cut foliage&nbsp;</td>
  <td>2.25&nbsp;</td>
  <td>2&nbsp;</td>
  <td>golden yellow ball flowers spring  and  summer&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia cultriformis&nbsp;</td>
  <td>Knife leaf Wattle&nbsp;</td>
  <td>fast growth - prune often&nbsp;</td>
  <td>3&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>bright yellow balls in early spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia cultriformis prostrate&nbsp;</td>
  <td>   &nbsp;</td>
  <td>slow growth when young tip prune to promote dense growth&nbsp;</td>
  <td>0.2&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>golden yellow ball flowers in early spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia dealbata&nbsp;</td>
  <td>Silver Wattle&nbsp;</td>
  <td> fast growing timber tree - pink wood used for revegatation work&nbsp;</td>
  <td>18&nbsp;</td>
  <td>8&nbsp;</td>
  <td>bright yellow ball flowers in spring&nbsp;</td>
  <td>heavy clay or peat soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia decora&nbsp;</td>
  <td>Showy Wattle&nbsp;</td>
  <td>slower growing than other wattles tip prune&nbsp;</td>
  <td>1.5&nbsp;</td>
  <td>2&nbsp;</td>
  <td>golden yellow ball flowers in spring&nbsp;</td>
  <td>prefers sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia drummondii&nbsp;</td>
  <td>Drummond Wattle&nbsp;</td>
  <td>bipinnate foliage -  fast growth tip prune&nbsp;</td>
  <td>1.15&nbsp;</td>
  <td>2&nbsp;</td>
  <td>golden yellow spikes in late spring&nbsp;</td>
  <td>prefers sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia elata&nbsp;</td>
  <td>Cedar Wattle&nbsp;</td>
  <td>fast growing avenue feature tree lush green umbrella foliage &nbsp;</td>
  <td>10.5&nbsp;</td>
  <td>6&nbsp;</td>
  <td>pale yellow ball flowers in spring &nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia fimbriata&nbsp;</td>
  <td>Fringe Wattle &nbsp;</td>
  <td>forms a dense high screen pendulous branches - prune often&nbsp;</td>
  <td>5&nbsp;</td>
  <td>5&nbsp;</td>
  <td>yellow ball flowers in winter  and  spring &nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia fimbriata dwarf&nbsp;</td>
  <td>   &nbsp;</td>
  <td>compact small feature&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>yellow ball flowers in winter  and  spring &nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia genistifolia&nbsp;</td>
  <td>   &nbsp;</td>
  <td>prickly foliage used for revegatation work&nbsp;</td>
  <td>0.65&nbsp;</td>
  <td>2&nbsp;</td>
  <td>small yellow ball flower in early spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia heteroclita&nbsp;</td>
  <td>   &nbsp;</td>
  <td>use as a low growing screen &nbsp;</td>
  <td>1.75&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>profuse yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia iteaphylla&nbsp;</td>
  <td>Gawler Range Wattle&nbsp;</td>
  <td>weeping silvery blue leaves avenue feature in sheltered garden&nbsp;</td>
  <td>4.5&nbsp;</td>
  <td>4&nbsp;</td>
  <td>small pale yellow balls in autumn&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia ligulata cupularis&nbsp;</td>
  <td>syn.  A. cupularis&nbsp;</td>
  <td>a lovely small feature in a dry site&nbsp;</td>
  <td>3&nbsp;</td>
  <td>4&nbsp;</td>
  <td>bright yellowy orange ball flowers in spring&nbsp;</td>
  <td>prefers sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia ligulata prostrate&nbsp;</td>
  <td>   &nbsp;</td>
  <td>slow growth  and  difficult to propagate but hardy when established&nbsp;</td>
  <td>0.3&nbsp;</td>
  <td>2&nbsp;</td>
  <td>bright yellowy orange ball flowers in spring&nbsp;</td>
  <td>prefers sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia mearnsii&nbsp;</td>
  <td>Black Wattle&nbsp;</td>
  <td>fast growing tree - hot firewood used for revegatation work&nbsp;</td>
  <td>9&nbsp;</td>
  <td>5&nbsp;</td>
  <td>pale yellow ball flowers in spring &nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia melanoxylon&nbsp;</td>
  <td>Blackwood&nbsp;</td>
  <td>solid windbreak or avenue feature durable timber - used for revegatation &nbsp;</td>
  <td>25&nbsp;</td>
  <td>8&nbsp;</td>
  <td>pale yellow ball flowers in spring &nbsp;</td>
  <td>heavy clay or peat soils. tolerates wet sites&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia mucronata&nbsp;</td>
  <td>Native Willow&nbsp;</td>
  <td>poor soils - shrub in alpine sites good revegatation plant&nbsp;</td>
  <td>4&nbsp;</td>
  <td>4&nbsp;</td>
  <td>cream to yellow spikes in spring&nbsp;</td>
  <td>prefers sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia myrtifolia&nbsp;</td>
  <td>Myrtle Wattle&nbsp;</td>
  <td>fast gowing screen plant - must prune grows well in very poor soils&nbsp;</td>
  <td>1.75&nbsp;</td>
  <td>3&nbsp;</td>
  <td>yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia pravissima&nbsp;</td>
  <td>Ovens Wattle&nbsp;</td>
  <td>avenue feature - prune for a screen weeping pendulous branches&nbsp;</td>
  <td>5&nbsp;</td>
  <td>5&nbsp;</td>
  <td>yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia pravissima prostrate&nbsp;</td>
  <td>   &nbsp;</td>
  <td>slow growth  and  difficult to propagate but hardy when established&nbsp;</td>
  <td>0.3&nbsp;</td>
  <td>3&nbsp;</td>
  <td>yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia retinodes&nbsp;</td>
  <td>Wirilda Wattle&nbsp;</td>
  <td>very fast high screen pruning will maintain vigorous growth&nbsp;</td>
  <td>5.5&nbsp;</td>
  <td>4.5&nbsp;</td>
  <td>lemon yellow ball flowers most seasons summer  autumn  winter  spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia riceana&nbsp;</td>
  <td>Arching Wattle&nbsp;</td>
  <td>grows in most soil types  and  positions bronze new growth tips&nbsp;</td>
  <td>5&nbsp;</td>
  <td>4&nbsp;</td>
  <td>pale yellow spikes in early spring&nbsp;</td>
  <td>light clay to sandy soils. moist well drained site &nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia rubida&nbsp;</td>
  <td>Red Stemmed Wattle&nbsp;</td>
  <td> red coloured trunk  and  stems very fast growth&nbsp;</td>
  <td>4&nbsp;</td>
  <td>3.5&nbsp;</td>
  <td>yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia sophorae&nbsp;</td>
  <td>Boobialla - Coast Wattle&nbsp;</td>
  <td>salt tolerant, dense fast windbreak good plant in coastal revegatation work&nbsp;</td>
  <td>3.5&nbsp;</td>
  <td>5&nbsp;</td>
  <td>bright yellow spikes in early spring&nbsp;</td>
  <td>prefers sandy soils . good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia stricta&nbsp;</td>
  <td>Hop Wattle&nbsp;</td>
  <td>fast growing - prune occassionally revegatation  and  screens or windbreaks&nbsp;</td>
  <td>3&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>pale yellow ball flowers in spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia suaveolens&nbsp;</td>
  <td>Sweet Wattle&nbsp;</td>
  <td>attractive foliage prefers coastal gardens &nbsp;</td>
  <td>2&nbsp;</td>
  <td>2.5&nbsp;</td>
  <td>yellow ball flowers in winter  and  spring&nbsp;</td>
  <td>prefers sandy soils . very good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
  <tr>
  <td>Acacia terminalis&nbsp;</td>
  <td>Small Cedar Wattle&nbsp;</td>
  <td>fast growing screen plant useful for revegatation work&nbsp;</td>
  <td>2.25&nbsp;</td>
  <td>2&nbsp;</td>
  <td>yellow ball flowers in winter  and  spring&nbsp;</td>
  <td>light clay to sandy soils. good drainage&nbsp;</td>

  <td>&nbsp;</td>
  </tr>
</tbody>
</table>
</div>


<script type="text/javascript">
$(document).ready(function()
{
    $("#myTable th").click(function()
    {
        var $_GET = [];
        var newloc = window.location.href.replace(/(&order=[a-zA-Z0-9_]+)/,"").replace(/(&orderDir=[a-zA-Z0-9_]+)/,"");
        if(newloc.indexOf('?')==-1) newloc = newloc + "?";
        if(($(this).attr('value')==$_GET['order']) && (($_GET['orderDir']=="ASC")||(!$_GET['orderDir'])))
        {
            $(location).attr('href',newloc+"&order="+$(this).attr('value')+"&orderDir=DESC");
        }
        else
        {
            $(location).attr('href',newloc+"&order="+$(this).attr('value')+"&orderDir=ASC");
        }
    });
});
</script>

