<% content_for :title, 'Native Australian and Tasmanian Tubestock' %>
<div id="centered" class="border">
  <div id="one-col">
    <div id="left">
      <div class="column">
        <h1>Native Australian and Tasmanian Tubestock at Redbreast Plants</h1>
        <div class="tubestockbg" alt="Native Australian Tubestock at Redbreast Plants Tasmania" style="background-image: url(<%= image_url('tubestock.png') %>)"></div>
        <p>You can buy tubestock at wholesale prices from Redbreast Plants for a large variety of the Australian and Tasmanian native plants listed on the plant list on this website. Contact us via the <a href="/contact">Contact Page</a>, If we don’t have the stock required we can usually propagate on demand.</p>
        <a href="/plantlist">See the full native plant list here</a>
      </div>
    </div>
</div>
